{% extends "base.html" %}
{% block sidebar_content %}
    <div class="sidebar">
        <div class="sidebar_top"></div>
        <div class="sidebar_item">
            <h4>Currently Playing</h4>
            <ul>
              <li>MinuteQuest</li>
              <li>Final Fantasy 4</li>
              <li>Town of Salem</li>
            </ul>
            <br/>
            <h4>Currently Watching</h4>
            <ul>
              <li>Walking Dead</li>
              <li>Stein's Gate</li>
              <li>Hannibal</li>
            </ul>
            <br/>
            <h4>Currently Reading</h4>
            <ul>
              <li>Mistborn Series</li>
              <li>Wheel of Time</li>
              <li>Paper Towns</li>
            </ul>
            <br/>
            <h4>Currently Listening To</h4>
            <ul>
              <li>Clutch</li>
              <li>Alterbridge</li>
              <li>Dream Theater</li>
            </ul>
        </div>
        <div class="sidebar_base"></div>
    </div>
{% endblock sidebar_content %}
{% block site_content %}
<span class="left"><img src="/images/jesse.jpg" alt="Pic of Jesse" /></span>
<p>
  Welcome to my homepage! Hopefully if you are visiting this you are wanting to find
  out a little bit about me. I am Jesse Rolheiser, originally from small town Allan 
  Saskatchewan (if you know anyone from there, yes I know them). I moved to Saskatoon in the Fall of
  2011 to start my Bachelor's Degree in Computer Science.
</p>
<p>
  My interest in programming started early when I began playing around with RPG maker 2000.
  Inspired from watching my older brother play the Final Fantasy games on the SNES, I wanted
  to create a game for him to play. I had no idea the scope of what I was wanting to accomplish, 
  but the experience gave me my first taste into computer science.
</p>
<p>
  Once I had taken CMPT 111 at the University of Saskatchewan, I was hooked and there was no turning back. I have studied a wide variety of
  topics in computer science over the past 4 years ranging from Web/Mobile programming and Information Security to 
  Artificial Intelligence and Software Engineering. However, my primary focus and passion has
  been the study of Algorithms and Complexity theory, and I have taken a moderate amount of Math courses
  to compliment this passion.
</p>
<p>
  Currently, I am the President of the Computer Science Students' Society. As well, I work part time in the HCI lab doing research in multi-surface applications for Dr. Carl Gutwin. My other interests that do not involve a monitor include Volleyball which I have been playing for 9 years. I have been curling for 10 years and currently curl in the Sutherland men's league. I have a strong passion for medieval fantasy novels, and a collection of a dozen Rubik's cubes. 
</p>
<p>
  I hope this gives you a quick idea of who I am and if you want to know more, stop and chat with me in Spinks or take a look at my projects and resume. I am always available via e-mail. Cheers!
</p>
{% endblock site_content %}