{% extends "base.html" %}
{% block sidebar_content %}
<div class="sidebar">
  <div class="sidebar_top"></div>
  <div class="sidebar_item">
    <h1><a target="_blank" href="https://github.com/jlr297">Github</a></h1>
  </div>
  <div class="sidebar_base"></div>
</div>
{% endblock sidebar_content %}
{% block site_content %}
<h1 class="center">Royal Rumble</h1>
<span class="center"><img src="images/RoyalRumble.jpg" alt="Pic of Royal Rumble" height="345" width="518" /></span>
<p class="center">
  Royal Rumble is a 4 player hack'n'slash game in which you play as 4 knights fighting against waves
  of goblins and orcs. The game features fun sword and shield combat, with assisting torch and grappling mechanics.
  Built using Unity and C#. This project was developed by a team of 5 members for the "Game Mechanics" course 
  (CMPT 306). <a target="_blank" href="https://drive.google.com/file/d/0BxXecFV33lpibWt1OWdFRmdmSTQ/view?usp=sharing">Download and Play
  (Requires Xbox Controllers)</a>
</p>

<h1 class="center">WAMS API</h1>
<span class="center"><img src="images/WAMS.png" alt="Pic of WAMS" height="200" width="428" /></span>
<p class="center">
  WAMS is an API for creating Workspace Applications across Multiple Surfaces. It has proven to greatly
  reduce the amount of code required to create multi-surface applications, and enables developers to write
  much more meaningful code. The API has been used to created applications such as drawing applications,
  image sharing, card table simulator and small party games. Built using Javascript and NodeJS. This is an
  ongoing project I am developing for Dr. Carl Gutwin in the HCI lab.
  <a target="_blank" href="https://github.com/jlr297/WAMS-API">Try out the current version</a>
</p>

<h1 class="center">Hermes Messenger</h1>
<span class="center"><img src="images/Hermes.png" alt="Pic of Hermes" height="200" width="428" /></span>
<p class="center">
  Hermes Messenger is a chat application designed for multiple users. It was designed to improve on group
  awareness and to fix coherency issues that arise when multiple people are using a chat application.
  Built using HTML, CSS, Javascript, jQuery, and NodeJS. This project was developed by team of 5 members 
  for the "Human Computer Interaction" course (CMPT 481).
</p>

<h1 class="center">CSSS Website</h1>
<span class="center"><img src="images/CSSS.png" alt="Pic of CSSS" height="200" width="428" /></span>
<p class="center">
  The CSSS website informs visitors of who the CSSS are and what they do as a group at the University of Saskatchewan.  It is designed to be easily maintained by executive members of the CSSS without extensive knowledge of the backend code or website development. It has proven to be a great improvement over the existing CSSS website.
  Built using HTML, CSS, Javascript, jQuery, and PHP
  This project was developed by team of 3 members for the "Website Design/Development" course (CMPT 281).
  <a target="_blank" href="http://homepage.usask.ca/~pey849">Check it out</a>
</p>
{% endblock site_content %}