{% extends "base.html" %}
{% block sidebar_content %}
<br/><br/><br/>

<div class="sidebar">
  <div class="sidebar_top"></div>
  <div class="sidebar_item">
    <h4>Currently Taking</h2>
    <ul>
      <li>Advanced Algorithms</li>
      <li>Graphics and Animation</li>
      <li>Artificial Intelligence</li>
      <li>Euclidean Geometry</li>
    </ul>
    <br/>
    <h4>Recently Completed</h2>
    <ul>
      <li>Game Mechanics</li>
      <li>HCI</li>
      <li>Number Theory</li>
      <li>Price Theory and Resource Allocation</li>
    </ul>
  </div>
  <div class="sidebar_base"></div>
</div> 
{% endblock sidebar_content %}
{% block site_content %}
<h1>Education</h1>
<hr/>
<br/>
<b>Bachelor of Science Four-year - Computer Science, University of Saskatchewan<b style="float:right">2011-Present</b></b>
<ul>
  <li>Expected date of completion: Spring 2015</li>
  <li>Minor in Mathematics</li> 
</ul>
<b>High School<b style="float:right">1999-2011</b></b>
<ul>
  <li>Allan Composite School, Allan, SK
</ul>

<h1>Summary of Skills</h1>
<hr/>
<br/>
<b>Languages</b>
<ul>
  <li>Proficient in C++, C#, Java and Javascript</li>
  <li>Experienced in HTML, CSS and NodeJS</li>
  <li>Skillful with Python and Bash</li>
</ul>
<b>Operating Systems</b>
<ul>
  <li>Proficient using Windows and Linux Operating Systems</li>
  <li>Knowledgeable with remote computing, Command Line and source control tools</li>
  <li>Experienced with Unity and Eclipse IDE's</li>
</ul>
<b>Interpersonal/Communication Skills</b>
<ul>
  <li>Ability to work in a team and as an individual to complete the task at hand</li>
  <li>Goal-driven individual who keeps a productive climate to motivate others to meet corporate goals</li>
  <li>Innovative problem solver who can create solutions to resolve issues</li>
  <li>Possesses excellent verbal and written communication skills</li>
  <li>Willing to learn new abilities to better myself and open to new ideas</li>
  <li>Exhibited a capacity to be very personable, humorous, approachable and dedicated</li>
  <li>Strong understanding of the design and evaluation process</li>
  <li>Passionate about my work and what is accomplished</li>
</ul>
<h1>Work Experience</h1>
<hr/>
<br/>
<b>HCI Lab - Research Assistant <b style="float:right;">April 2014 - Present</b></b>
<ul>
  <li>Designing and developing an API for creating multi-surface applications</li>
  <li>Created and ran trials to collect data on high precision pointing tasks</li>
  <li>Presented research results at conferences and gave demos</li>
  <li>Developing a game that studies Attention Bias Modification</li>
</ul>
<b>Volleyball Canada - Provincial Official <b style="float:right;">2011 - Present</b></b>
<ul>
  <li>Have extensive knowledge of the rules and procedures of the game</li>
  <li>Officiated at the Provincial high school level</li>
  <li>Minor Officiated at the University level</li>
</ul>
<b>Yanke Stucco - Applicator <b style="float:right;">Summer 2012, 2013</b></b>
<ul>
  <li>Worked in each aspect of the production process</li>
  <li>Tasked with the responsibility of running a stucco crew</li>
  <li>Experience with reading and understanding blueprints and construction protocols</li>
</ul>
<h1>Volunteer/Hobby</h1>
<hr/>
<br/>
<b>Computer Science Students' Society</b>
<ol>
  <li>President<p style="float:right;">2014-Present</p></li>
  <ul>
    <li>Chair executive committee meetings</li>
    <li>Ensure all executives are able to fulfill their duties to the best of their ability</li>
    <li>Be held accountable for actions of all executive members</li>
    <li>Ensure proper communication between CSSS and Computer Science Department liaison</li>
  </ul>
  <li>Third Year Representative <p style="float:right;">2013-2014</p></li>
  <ul>
    <li>Event Coordinator for the Career Fair</li>
    <li>Organize study sessions for first year classes</li>
    <li>Communicate the ideas and opinions of third year students to the Students' Society</li>
  </ul>
</ol>
<b>Competitive Programming</b>
<ul>
  <li>Advanced to and competed at the 2013 and 2014 ACM Regional Competitions, Edmonton</li>
  <li>Won the local 2013 Spring Competition, Novice Category</li>
</ul>
<h1>References</h1>
<hr/>
<br/>
<table style="width:100%; border-spacing:0;">
  <tbody>
    <tr><td>Dr. Carl Gutwin</td><td>Grant Elke</td><td>Tim Yanke</td></tr>
    <tr><td>Faculty Member</td><td>SHSAA Official Coordinator</td><td>Owner</td></tr>
    <tr><td>University of Saskatchewan</td><td>Horizon School District</td><td>Yanke Stucco</td></tr>
    <tr><td>(306)-966-8646</td><td>(306)-260-5712</td><td>(306)-257-3280</td></tr>
  </tbody>
</table>
{% endblock site_content %}